$common-gutter: 40px;
$common-gutter-sm: 8px;

$color-primary:#A86B75;
$color-secondary: #727372;

$color-background-primary:#FEFEFE;
$color-background-secondary: #f5e4e7;
$color-background-tertiary: #f8f8f8;

$color-copy: #262626;

$border-radius: 4px;

$font-size: 1.8rem;
$font-size-sm: 1.4rem;